{% extends 'base.html' %}

{% block main %}
    <H3>Loly is a just CS50 final project</H3>
    
    <p>
        It made by:
        <ul>
            <li>HTML, CSS and JS frontend</li>
            <li>Flask and Python as backend</li>
        </ul>
        
    </p>
    I'm plan to add more features in next few month <br>
    Find source code <a href="https://github.com/abdulrasol/image-to-word">here</a> <br>
    You can find me on 
    <a class="uk-link-reset" href="https://abdulrasol.github.io/" uk-icon="github"></a> or 
    <a class="uk-link-reset" href="https://www.instagram.com/iraq_rsol" uk-icon="instagram"></a>
    
    

{% endblock main %}