{% extends 'base.html' %}

{% block main %}

    <form method="POST" action="/finish">
        <fieldset class="uk-fieldset">

            <legend class="uk-legend">Editing</legend>

            <div class="uk-margin">
                <textarea class="uk-textarea" rows="5" placeholder="Textarea" name="text">{{text}}</textarea>
            </div>

            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <select class="uk-select" id="form-stacked-select" name="type">
                        <option value="doc">Word file</option>
                        <option value="txt">txt file</option>
                </select>
            </div>
            <div class="uk-margin uk-text-right" uk-margin>
                <button onclick="goBack()" class="uk-button uk-button-default">Back</button>
                <button type="submit" class="uk-button uk-button-primary">Next</button>
            </div>
            <input type="false" name="is_download" hidden>
        </fieldset>
    </form>

{% endblock main %}